<div id="<%= dom_id auditor_report %>">
  <p>
    <strong>Title:</strong>
    <%= auditor_report.title %>
  </p>

  <p>
    <strong>Sub title:</strong>
    <%= auditor_report.sub_title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= auditor_report.body %>
  </p>

  <p>
    <strong>Opinion:</strong>
    <%= auditor_report.opinion %>
  </p>

  <p>
    <strong>Auditor:</strong>
    <%= auditor_report.auditor %>
  </p>

  <p>
    <strong>Date of report:</strong>
    <%= auditor_report.date_of_report %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= auditor_report.company_id %>
  </p>

</div>
