<div id="<%= dom_id cash_flow %>">
  <p>
    <strong>Profit before income tax:</strong>
    <%= cash_flow.profit_before_income_tax %>
  </p>

  <p>
    <strong>Depreciation on property plant and equiptments:</strong>
    <%= cash_flow.depreciation_on_property_plant_and_equiptments %>
  </p>

  <p>
    <strong>Profit on disposal:</strong>
    <%= cash_flow.profit_on_disposal %>
  </p>

  <p>
    <strong>Amortisation of prepaid lease:</strong>
    <%= cash_flow.amortisation_of_prepaid_lease %>
  </p>

  <p>
    <strong>Amortisation of intangible assets:</strong>
    <%= cash_flow.amortisation_of_intangible_assets %>
  </p>

  <p>
    <strong>Interest expense:</strong>
    <%= cash_flow.interest_expense %>
  </p>

  <p>
    <strong>Operating profit before working capital changes:</strong>
    <%= cash_flow.operating_profit_before_working_capital_changes %>
  </p>

  <p>
    <strong>Inventories:</strong>
    <%= cash_flow.inventories %>
  </p>

  <p>
    <strong>Trade and other recievables:</strong>
    <%= cash_flow.trade_and_other_recievables %>
  </p>

  <p>
    <strong>Trade and other payables:</strong>
    <%= cash_flow.trade_and_other_payables %>
  </p>

  <p>
    <strong>Cash generated from operations:</strong>
    <%= cash_flow.cash_generated_from_operations %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= cash_flow.tax %>
  </p>

  <p>
    <strong>Interest paid:</strong>
    <%= cash_flow.interest_paid %>
  </p>

  <p>
    <strong>Net cash generated from operating activities:</strong>
    <%= cash_flow.net_cash_generated_from_operating_activities %>
  </p>

  <p>
    <strong>Purchase of property plant and equiptments:</strong>
    <%= cash_flow.purchase_of_property_plant_and_equiptments %>
  </p>

  <p>
    <strong>Purchase of prepaid operating lease rentals:</strong>
    <%= cash_flow.purchase_of_prepaid_operating_lease_rentals %>
  </p>

  <p>
    <strong>Proceeds from sale of property plant and equiptments:</strong>
    <%= cash_flow.proceeds_from_sale_of_property_plant_and_equiptments %>
  </p>

  <p>
    <strong>Intangible assets:</strong>
    <%= cash_flow.intangible_assets %>
  </p>

  <p>
    <strong>Interest income:</strong>
    <%= cash_flow.interest_income %>
  </p>

  <p>
    <strong>Net cash used in investing activities:</strong>
    <%= cash_flow.net_cash_used_in_investing_activities %>
  </p>

  <p>
    <strong>Proceeds from issue of share capital:</strong>
    <%= cash_flow.proceeds_from_issue_of_share_capital %>
  </p>

  <p>
    <strong>Proceeds from borrowing:</strong>
    <%= cash_flow.proceeds_from_borrowing %>
  </p>

  <p>
    <strong>Repayments of borrowing:</strong>
    <%= cash_flow.repayments_of_borrowing %>
  </p>

  <p>
    <strong>Net cash generated from financial activities:</strong>
    <%= cash_flow.net_cash_generated_from_financial_activities %>
  </p>

  <p>
    <strong>Net decrease in cash and cash equivalents:</strong>
    <%= cash_flow.net_decrease_in_cash_and_cash_equivalents %>
  </p>

  <p>
    <strong>Cash and cash equivalent at 1st january:</strong>
    <%= cash_flow.cash_and_cash_equivalent_at_1st_january %>
  </p>

  <p>
    <strong>Cash and cash equivalent at 31st december:</strong>
    <%= cash_flow.cash_and_cash_equivalent_at_31st_december %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= cash_flow.company_id %>
  </p>

</div>
