<div id="<%= dom_id profit_and_loss_account %>">
  <p>
    <strong>Sales:</strong>
    <%= profit_and_loss_account.sales %>
  </p>

  <p>
    <strong>Cost of sales:</strong>
    <%= profit_and_loss_account.cost_of_sales %>
  </p>

  <p>
    <strong>Gross profit:</strong>
    <%= profit_and_loss_account.gross_profit %>
  </p>

  <p>
    <strong>Other operating income:</strong>
    <%= profit_and_loss_account.other_operating_income %>
  </p>

  <p>
    <strong>Administrative expenses:</strong>
    <%= profit_and_loss_account.administrative_expenses %>
  </p>

  <p>
    <strong>Other operating expenses:</strong>
    <%= profit_and_loss_account.other_operating_expenses %>
  </p>

  <p>
    <strong>Operating profit:</strong>
    <%= profit_and_loss_account.operating_profit %>
  </p>

  <p>
    <strong>Finance cost:</strong>
    <%= profit_and_loss_account.finance_cost %>
  </p>

  <p>
    <strong>Profit before tax:</strong>
    <%= profit_and_loss_account.profit_before_tax %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= profit_and_loss_account.tax %>
  </p>

  <p>
    <strong>Net profit for the year:</strong>
    <%= profit_and_loss_account.net_profit_for_the_year %>
  </p>

  <p>
    <strong>Date of report:</strong>
    <%= profit_and_loss_account.date_of_report %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= profit_and_loss_account.company_id %>
  </p>

</div>
