<div id="<%= dom_id balance_sheet %>">
  <p>
    <strong>Share capital:</strong>
    <%= balance_sheet.share_capital %>
  </p>

  <p>
    <strong>Retained earnings:</strong>
    <%= balance_sheet.retained_earnings %>
  </p>

  <p>
    <strong>Shareholder funds:</strong>
    <%= balance_sheet.shareholder_funds %>
  </p>

  <p>
    <strong>Borrowings:</strong>
    <%= balance_sheet.borrowings %>
  </p>

  <p>
    <strong>Property and equiptments:</strong>
    <%= balance_sheet.property_and_equiptments %>
  </p>

  <p>
    <strong>Prepaid operating lease rentals:</strong>
    <%= balance_sheet.prepaid_operating_lease_rentals %>
  </p>

  <p>
    <strong>Intangible assets:</strong>
    <%= balance_sheet.intangible_assets %>
  </p>

  <p>
    <strong>Deffered tax:</strong>
    <%= balance_sheet.deffered_tax %>
  </p>

  <p>
    <strong>Inventories:</strong>
    <%= balance_sheet.inventories %>
  </p>

  <p>
    <strong>Trade and other receivables:</strong>
    <%= balance_sheet.trade_and_other_receivables %>
  </p>

  <p>
    <strong>Cash at bank and in hand:</strong>
    <%= balance_sheet.cash_at_bank_and_in_hand %>
  </p>

  <p>
    <strong>Trade and other payables:</strong>
    <%= balance_sheet.trade_and_other_payables %>
  </p>

  <p>
    <strong>Current tax:</strong>
    <%= balance_sheet.current_tax %>
  </p>

  <p>
    <strong>Date of report:</strong>
    <%= balance_sheet.date_of_report %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= balance_sheet.company_id %>
  </p>

</div>
