<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>Principal activities:</strong>
    <%= company.principal_activities %>
  </p>

  <p>
    <strong>Advocates:</strong>
    <%= company.advocates %>
  </p>

  <p>
    <strong>Registered office:</strong>
    <%= company.registered_office %>
  </p>

</div>
