<div id="<%= dom_id director_report %>">
  <p>
    <strong>Body:</strong>
    <%= director_report.body %>
  </p>

  <p>
    <strong>Date of report:</strong>
    <%= director_report.date_of_report %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= director_report.company_id_id %>
  </p>

  <p>
    <strong>Director 1:</strong>
    <%= director_report.director_1 %>
  </p>

  <p>
    <strong>Director 2:</strong>
    <%= director_report.director_2 %>
  </p>

</div>
