<p style="color: green"><%= notice %></p>

<%= render @director_report %>

<div>
  <%= link_to "Edit this director report", edit_director_report_path(@director_report) %> |
  <%= link_to "Back to director reports", director_reports_path %>

  <%= button_to "Destroy this director report", @director_report, method: :delete %>
</div>
